@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap');

:root {
  --primary-color: #D21f3c;
}
body {
  font-family: 'Source Code Pro', monospace;
}

.App {
  text-align: center;
}

/********************************* NAVBAR *********************************/


/*------------------------ NAV LINKS ------------------------*/
nav a.nav-link {
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: black !important;
  margin: 0 0.5rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  color: var(--primary-color) !important;
}

.navbar-nav > li > a:hover {
  color: 0.125rem solid var(--primary-color) !important;
}