@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap');

/* @font-face {
  font-family: "neon";
  src: local("neon"), url(./fonts/Neon80s.ttf) format("truetype");
} */


:root {
  --primary-color: #D21f3c;
  --nav-grey: #f7f8fa;
  --primary-grey: #ccd1d9;

  --primary-light-dark: #1d1d1d;
  --primary-medium-dark: #181818;
  --primary-dark: #000000;
  --primary-light-grey: #909096;
  --primary-medium-grey: #757575;
  --primary-dark-grey: #515152;
  --primary-aqua: #2efcd8;
  --primary-pink: #fc185a;
}
body {
  font-family: 'Source Code Pro', monospace;
}

.App {
  text-align: center;
}

/********************************* NAVBAR *********************************/
nav {
  z-index: 1;
}

/*------------------------ NAV LINKS ------------------------*/
nav a.nav-link {
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: black !important;
  margin: 0 0.5rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  color: var(--primary-color) !important;
}

.navbar-nav > li > a:hover {
  color: var(--primary-color) !important;
}

/********************************* HOME *********************************/
.home-wrapper {
  position: relative;
  height: 100vh
}

.home-wrapper::before {    
  content: "";
  background-image: url(home.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.12;
}
  

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} 


/*------------------------ GLITCH ------------------------*/

.glitch-container {
  margin-bottom: 3rem;
}

.glitch-container h1 {
  color: black;
  font-size: 5em; 
  letter-spacing: 0.0375rem;

  font-weight: 400;
  /*Create overlap*/
  
  margin: 0;
  line-height: 0;
  /*Animation*/
  
  animation: glitch1 2.5s infinite;
}

@media screen and (max-width: 600px) {
  .glitch-container {
    margin-bottom: 2rem;
  }

  .glitch-container h1 {
    font-size: 3em; 
  }
}

@media screen and (max-width: 360px) {
  .glitch-container {
    margin-bottom: 1rem;
  }

  .glitch-container h1 {
    font-size: 2em; 
  }
}

.glitch-container h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

.glitch-container h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

/*------------------------ TYPED TEXT ------------------------*/
.typed-text{
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .typed-text{
    font-size: .85rem;
    color: black;
    margin-bottom: .5rem;
  }
}

@media screen and (max-width: 360px) {
  .typed-text{
    font-size: .25rem;
    color: black;
  }
}

/*------------------------ BUTTON ------------------------*/
.btn-main-offer{
  border: 1px solid; 
  text-transform: uppercase;
  border-radius: 0;
  padding: .5rem;
  color: black;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  transition: .2s ease-in-out;
}

/********************************* ABOUT *********************************/
.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width: 18rem;
  padding: 0.3rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color)
}

.abt-heading{
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 800;
}

.about{
  font-size: .8rem;
}

@media(max-width: 468px) {
  .profile-img{
    width: 10rem;
  }
}

@media(max-width: 360px) {
  .abt-heading{
    font-size: 2rem
  }

  .about{
    font-size: .7rem;
  }
}

/*------------------------ SKILLS ------------------------*/
.table{
  width: 80% !important;
  margin: 0 auto;
}

.table td{
  border: none !important;
  padding: 0 !important;
  font-size: 0.7rem !important;
}

/********************************* EXPERIENCE *********************************/
.experience{
  padding: 0.7rem;
}

.experience-wrapper{
  position: relative;
  padding: 3.125rem 0;
  padding-bottom: 2rem;
  overflow: hidden;
}

.experience h1{
  text-transform: uppercase;
  color: black;
  /* font-size: 2.6rem !important; */
}

.experience-wrapper:before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right;
}

.timeline-block-left{
  float: left;
  direction: rtl;
}

.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid black;
  background: var(--primary-color);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content{
  width: 95%;
  padding: 0 0.9375rem;
  color:var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h5{
  margin-top: 0.3125rem;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 1.3rem;
  margin-bottom: .1rem;
}

.employer{
  color: black !important;
  font-weight: bolder !important;
  margin: 0;
  margin-bottom: .1rem;
}

.timeline-content h6{
  color: var(--primary-dark-grey);
  font-weight: 600;
}

.timeline-content p{
  font-size: .75rem;
}

@media(max-width: 768px){
  .experience .container{
    padding-left: 0;
  }
  .experience-wrapper:before{
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right{
    float: none;
    width: 100%;
  }

  .timeline-block-left{
    float: none;
    direction: ltr;
    width: 100%;
  }

}

 /********************************* PORTFOLIO *********************************/
 .portfolio-wrapper{
   /* background: var(--primary-light-grey); */
   padding: 3rem 0;
 }

 .popupbox-content{
   text-align: center;
 }

 .portfolio-wrapper h1{
   color: green;
 }

 .portfolio-image{
   width: 15rem;
   height: 8.7rem;
   border: 1px solid var(--primary-color);
   padding: 0 0.5rem;
 }

 .portfolio-image-box{
   position: relative;
   margin: 1rem;
 }

 .overflow {
   position: absolute;
   opacity: 0;
   background: black;
   width: 15rem;
   height: 8.7rem;
   top: 0;
   border: 1px solid var(--primary-color);
   cursor: pointer;
 }

 .portfolio-image-box:hover .overflow {
   opacity: 60%;
   transition: 0.3s ease-in-out;
 }

 .portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-color);
  font-size: 1.5rem;
 }

 .portfolio-image-box:hover .portfolio-icon{
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
 }

/*------------------------ POPUP ------------------------*/
.popupbox-wrapper{
  margin-top: 4rem;
}

.popupbox-titleBar{
  padding-top: 1px !important;
  padding-bottom: 1px !important
}

.popupbox-btn--close{
  top: 4px !important;
}

.popupbox-content{
  padding: .6rem 1rem !important;
}

.portfolio-image-popupbox {
  width: 45rem;
  padding: 0.5rem; 
  border: .025rem solid var(--primary-grey);
  border-radius: .25rem;
}

.popupbox-titleBar span{
  font-weight: 800;
  font-size: 1.5rem;
}

.popup-desc{
  font-size: .85rem;
  width: 45rem;
  margin: .5rem 0;
  margin-bottom: .3rem;
}

.tech-used{
  margin-bottom: .3rem;
  font-size: .7rem;
  font-family: 'Roboto Mono', monospace;
}

.tech-used span{
  margin: 0 .8rem
}

.hyper-link {
  cursor: pointer;
  color: black;
  margin: 0 1rem;
  font-size: .9rem;
}

.hyper-link:hover{
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: var(--primary-color);
}

.popup-icons {
  display: flex;
  justify-content: center;
}

.popup-icon {
  margin-right: .25rem;
}

.popup-links span{
  line-height: 80%;
}

/* WIDTH */

@media(max-width: 1050px){

  .portfolio-image-popupbox{
    width: 90%;
  }

  .popup-desc{
    width: 100%;
    font-size: .72rem;
  }

  .tech-used{
    font-size: .58rem;
  }
  
  .tech-used span{
    margin: 0 .7rem
  }
}

@media(max-width: 768px){

  .portfolio-image-popupbox{
    width: 100%;
  }

  .popup-desc{
    font-size: .6rem;
    width: 100%;
    margin: .25rem 0;
  }

  .tech-used{
    font-size: .45rem;
  }
  
  .tech-used span{
    margin: 0 .25rem
  }

  .popup-links{
    font-size: .75rem;
  }
}

@media(max-width: 465px){
  .popup-links{
    font-size: .5rem;
  }
}

/* HEIGHT */

@media(max-height: 640px){
  .popupbox-wrapper{
    width: 60%;
  }

  .popupbox-content{
    text-align: center;
  }


  .portfolio-image-popupbox{
    width: 60%;
  }

  .popup-desc {
   width: auto;
  }

  .popup-links{
    font-size: .6rem;
  }
}

@media(max-height: 570px){

  .portfolio-image-popupbox{
    width: 40%;
  }
}



 /********************************* CONTACT *********************************/
.contact {
  background: #393939;
  padding: 3rem 0;
}

.contact h1{
  color: var(--primary-color);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contact p{
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

/*------------------------ INPUTS ------------------------*/
.contact input, .contact textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: .125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-light-grey);
  outline: 0 !important; 
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contact .container{
  padding: 4rem 0;
}

.contact input:focus, .contact textarea:focus{
  background: transparent;
  color: var(--primary-color);
  border-bottom: .125rem solid var(--primary-dark-grey);
}

.contact textarea{
 height: 12.2rem !important;
}

.contact-btn {
  margin: 1re 0 0 0;
  width: 100%;
  background: none;

}

.line{
  position: relative;
  top: -0.8rem;
  width: 0;
  height: .125rem;
  background: var(--primary-color);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: white;
  background: red;
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: green;
}

@media(max-width: 768px){
  .contact {
    overflow-x: hidden;
  }
  .contact .container{
    padding: 0 1rem;
  }

  .contact p{
    padding: 0 .4rem;
  }
}

 /********************************* FOOTER *********************************/
.footer{
  background: black;
  color: var(--primary-dark-grey);
  padding: 3rem;
}

.footer p{
  margin-bottom: 0;
}

.footer a{
  text-decoration: none;
  color: var(--primary-dark-grey);
  cursor: pointer
}

.footer a:hover{
  text-decoration: none;
  color: var(--primary-color);
  transition: .3s ease-in-out;
}

.footer-contact{
  margin-right: 1rem
}

.footer-contact-icon{
  margin-right: .25rem;
}

.copyright {
  font-size: .6rem;
}

.footer-icon{
  font-size: 1.5rem;
  margin: 0 .5rem;
}